.startScreen {
    grid-area: start;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}
.startScreen_info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 64px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}
.top_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.sidebar_for_mobile{
    display: none;
}
.top_row_logo_city{    
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 5px;
}
.start_btn{
    position: absolute;
    margin-top: 487px;
    height: 48px;
    width: 250px;
    font-size: 18px;
    font-family: 'Roboto-Medium';
    border-radius: 8px;
    background: linear-gradient(to right, #0EC261, #039F67);
    color: #EEEEEE;
    border: none;
    cursor: pointer;
}
.start_btn:focus{
    border: none;
    outline: none;
}
@media (max-width: 1440px){
    .startScreen {
    position: absolute;
    }
    .startScreen_info{
        padding-left: 32px;
    }
    .top_row {
        width:60vw;
    }
}
@media (max-width: 1024px){
    .startScreen {
        width: 100vw;
        position: relative;
    }
    .startScreen_info{
        padding-left: 20px;
    }
    .top_row {
    }
    .top_row_logo_city{
        width: 100vw;
    }
    .start_btn{
        position: absolute;
        margin-top: 400px;
    }
}
@media (max-width: 780px){
    .startScreen {
        flex-direction:column;
        justify-items: flex-start;
        align-content: flex-start;
        padding-left: 0px;
    }
    .startScreen_info{
        width:100vw;
        height: 90vh;
        padding-left: 0px;
        display:flex;
        flex-direction: column;
        justify-items: space-between;
    }
    .top_row {
        width:100vw;
        padding-right: 10px;
        align-items: center;
    }
    .sidebar_hidden_when_mobile{
        display:none;
    }
    .sidebar_for_mobile{
        display: flex;
        padding-left: 8px;
    }
    .top_row_logo_city{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin-right: 16px;
    }
    .start_btn{
        position: absolute;
        margin-top: 300px;
        height: 50px;
        width: 100vw;
        border-radius: 0px;
    }
}