.startScreen {    
    grid-area: start;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}
.startScreen_info{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 64px;
    padding-top: 32px;
    padding-right: 64px;
}
.top_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.start_btn{
position: absolute;
margin-top: 487px;
height: 48px;
width: 250px;
font-size: 18px;
font-family: 'Roboto-Medium';
border-radius: 8px;
background: linear-gradient(to right, #0EC261, #039F67);
color: #EEEEEE;
border: none;
cursor: pointer;
}
.start_btn:focus{
    border: none;
    outline: none;
}