.user_choise {
  width: 40%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: #EEEEEE 1px solid;
  padding-left: 32px;
  margin-top: 32px;
}
.header{
  width: 100%;
  font-size: 18px;
  font-family: 'Roboto-Medium';
  display: flex;
  justify-content: flex-end;
}
.visible{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.point{
  width: 100%;
  align-items: flex-end;
  margin-top: 30px;
  display:flex;
  overflow: auto;
  flex-direction:row;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Roboto-Light';
}
.dots{  
  border-bottom: 1px dotted #000;
  flex: 1;
}
.address{
  text-align:right;
}
.price{
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto-Regular';
  margin-top: 32px;
}
.price p{
  font-size: 18px;
  font-family: 'Roboto-Medium';
}
.none_display{
  display: none;
}