.order_page{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: 4%;
    margin-right: 2%;
}
.order_settings{
    display: flex;
    height: 100%;
}
.orderContent {
    margin-left: 4%;
    margin-right: 4%;
    flex-basis: 65%;
    flex-grow: 1;
    flex-shrink: 0;
}
.display_order {
    width: 100%;
    flex-basis: 35%;
}
.display_order_when_mobile {
    display: none;
}
@media (max-width: 1024px){
    .order_page{
    }
    .info{  
    }
}
@media (max-width: 780px){
    .top_row {
    }
    .info{  
    }
    .order_settings{
        display: inline;
        height: 80%;
    }
    .orderContent {
        height: 80%;
    }
    .display_order {
        display: none;
    }    
    .display_order_when_mobile {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position:fixed;
        margin-right: 4%;
        bottom: 32px;
    }
    .display_none {
        display: none;
    }    
    .display_visible {
        display: flex;
        width: 100%;
        margin-right: 5px;
    }
}