.lines{
    margin-top: 40px;
    border-top: #EEEEEE 1px solid;    
    border-bottom: #EEEEEE 1px solid;
    height: 32px !important;
    display: flex;
    align-items: center;
}
.links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4%;
    :first-child{
        margin-left: 0px;
    }
}
.links_button{
    font-family: 'Roboto-Bold';
    font-size: 14px;
    color: #000000;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 16px;
    margin-left: 16px;
    padding: 0;
}
.links_button:disabled{
    color: #999999;
    cursor: default;
}
.links_button_active{
    @extend .links_button;
    color: #0EC261;
}
@media (max-width: 1024px){
}
@media (max-width: 900px){
    .lines{
        margin-top: 10px;
    }
    .links{
        margin-left: 16px;
    }
    .links_button{
        font-size: 12px;
        margin-right: 8px;
        margin-left: 8px;
    }
}