.lines{
    margin-top: 40px;
    margin-left: -64px;
    border-top: #EEEEEE 1px solid;    
    border-bottom: #EEEEEE 1px solid;
    height: 32px;
    margin-right: -64px;
    display: flex;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 40px;
    align-items: center;
}
.links_button{
    font-family: 'Roboto-Bold';
    font-size: 14px;
    color: #000000;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 16px;
    margin-left: 16px;
}
.links_button:disabled{
    color: #999999;
    cursor: default;
}
.links_button_active{
    @extend .links_button;
    color: #0EC261;
}
@media (max-width: 1024px){
    .lines{
        margin-left: -32px;
    }
    .links{
        flex-wrap: wrap;
        justify-content: left;
    }
}
@media (max-width: 780px){
    .links{
        flex-wrap: wrap;
        justify-content: left;
    }
}