.autocomplete {
    position: relative;
    display: flex;
    flex-direction: row;    
    color:#121212;
    font-size: 14px;
    font-family: 'Roboto-Light';
    padding-right: none;
    margin-right: none;
}
.autocontainer{
    display: flex;
    flex-direction:column;
    background-color: #FFFFFF;
    cursor: pointer;
    position: absolute;
}
.autocontainer_input{
    width: 225px;
    outline: none;
    outline-offset: none;
    border:none;
    border-bottom: 1px solid #121212;
    color:#121212;
    font-size: 14px;
    font-family: 'Roboto-Light';
    margin-left: 10px;
    cursor: pointer;
}
.clear_button{
    border:none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: -15px;
}
.extended_block{
    width: 225px;
    z-index:10;
    position: absolute;
    background: #FFFFFF;
    cursor: pointer;
    padding-left: 15px;
    line-height: 24px;
}
.list span:hover{
    color: #0EC261;
}
.display_none{
    @extend .clear_button
}
.display_none SVG path{
    fill:#FFFFFF;
}
.autocontainer_input_blocked{
    @extend .autocontainer_input;
    background-color: #EEEEEE;
    cursor: default;
}