.menu_container {
    position:absolute;
    width: 100vw;
    height: 100%;
    z-index: 4;    
	background: #151B1F;
    opacity: 0.8;
}
.menu {
    position:absolute;
    width: 50vw;
    height: 100%;
    background-color: #111518;
    opacity: 1.0;
    z-index: 5;
}
.options {
    font-size: 32px;
    font-family: 'Roboto-Medium';
    color: #FFFFFF;
    margin-top: 307px;
    margin-left: 128px;
}
.options p:hover{
    color: #0EC261;
    cursor: pointer;
}
.social{
    width: 144px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    fill: #FFFFFF;
}
.social svg:hover{
    fill: #0EC261;
    cursor: pointer;
}