.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright {
    color: #999999;
    font-size: 13px;
    font-family: 'Roboto-Regular';
}
.phone {
    color: #121212;
    font-size: 13px;
    font-family: 'Roboto-Regular';
}