.sidebar {
    width:64px;
    background-color: #151B1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 1vh;
}
.sidebar_menu_button {
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;    
    color: #0EC261;
    font-family: 'Roboto-Bold';
}
.sidebar_menu_button:focus {
    outline: none;
}
.sidebar_menu_button_icon {
    fill: #FFFFFF;
}
.sidebar_menu_button_icon:hover {
    fill:#0EC261;
}
.sidebar_menu_button_p:hover {
    color: #FFFFFF;
}