.sidebar {
    width: 64px;
    height: 810px;
    background-color: #151B1F;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-direction: row;
}
.sidebar_menu_button {
    background-color: #151B1F;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    border: none;
    cursor: pointer;
}
.sidebar_menu_button_icon {
    fill: #FFFFFF;
}
.sidebar_menu_button_icon:hover {
    fill:#0EC261;
}