.sidebar {
    width:64px;
    background-color: #151B1F;
}
.sidebar_button{ 
    position: relative; 
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.sidebar_menu_button_up {
    background-color: transparent;
    width: 32px;
    height: 32px;
    margin-top: 32px;
    border: none;
    cursor: pointer;
    z-index: 5;
}
.sidebar_menu_button_up:focus {
    outline: none;
}
.sidebar_menu_button_down{
    @extend .sidebar_menu_button_up;
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
    z-index: 1;       
    color: #0EC261;
    font-family: 'Roboto-Bold';
    justify-content: center;
}
.sidebar_menu_button_down:hover{
    color:#FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}
.sidebar_menu_button_down:focus{
    color:#0EC261;
}
.sidebar_menu_button_icon {
    fill: #FFFFFF;
    stroke:#FFFFFF
}
.sidebar_menu_button_icon:hover {
    fill:#0EC261;
    stroke:#0EC261;
}
.menu {
    position:absolute;
    width: 195vw;
    height: 100pc;
    z-index: 4;    
	background: #151B1F;
    opacity: 0.8;
}
@media (max-width: 1024px){
    .sidebar {  
        width: 80px;
    }  
}
@media (max-width: 780px){
    .sidebar { 
        margin-top: -15%;
        margin-left: -2%;
        width:100vw;
        position: absolute;
        background-color:transparent;
        overflow: hidden;        
        justify-items:left;
    }
    .sidebar_button{    
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;
    }
    .sidebar_menu_button_up {
        margin-top: 0px;
        margin-left: 0px;
        width: 32px;
        z-index:7;
        fill:#151B1F;
        stroke:#151B1F;
    }
    .sidebar_menu_button_up SVG path{
        fill:#FFFFFF;
        stroke:#151B1F;
    }
    .sidebar_menu_button_down{
       display: none;
    }
    .whenMobile SVG path{
        fill:#FFFFFF;
        stroke:#FFFFFF;
    }
}