.radios{
    margin-top: 16px;
    display:flex;
    flex-direction: row;
    margin-left: -5px;
}
.radios_vert{
    @extend .radios;
    flex-direction: column;
}
.radio {
	margin-bottom: 10px;
}
.display_none{
    display: none;
}
.radio input[type=radio] {
    -webkit-appearance: none;
      -moz-appearance: none;
    appearance: none;
    border: 1px solid #999999;
    margin-right: 8px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    vertical-align: top;
}
.radio label {
    cursor:pointer;
    font-family: 'Roboto-Light';
    font-size: 14px;
    color:#999999;
    margin-right: 16px;
}
.radio input[type=radio]:checked {
    @extend .radio;
    border: 3px solid #0EC261;
}
.radio label:hover {
    color:#121212;
}
.radio input[type=radio]:checked+label{
    color:#121212;
}