.radios{
    margin-top: 32px;
    display:flex;
    flex-direction: row;
}
.radio {
	margin-bottom: 10px;
}
.radio input[type=radio] {
    border: 1px solid #999999;
    margin-right: 8px;
    cursor: pointer;
    width: 12px;
    border-radius: 50%;
    vertical-align: top;
}
.radio label {
    cursor:pointer;
    font-family: 'Roboto-Light';
    font-size: 14px;
    color:#999999;
    margin-right: 16px;
}
.radio label:before {
    color:#121212;
}
.radio input[type=radio]:checked {
    border: 3px solid #0EC261;
}
 
/* Hover */
.radio label:hover:before {
    color:#121212;
}
 
/* Disabled */
.radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}