.box {
    margin-top: 16px;
	margin-bottom: 10px;
}
.box SVG{
    position: relative;
    margin-left: -14px;
    margin-top: 3px;
}
.box input[type=checkbox] {
    position: relative;
    appearance: none;
    border: 1px solid #999999;
    cursor: pointer;
    width: 12px;
    height: 12px;
    vertical-align: top;
}
.box label {
    position: relative;
    cursor:pointer;
    font-family: 'Roboto-Light';
    font-size: 14px;
    color:#999999;
    margin-right: 16px;
    margin-left: 8px;
}
.box input[type=checkbox]:checked {
    border: 1px solid #0EC261;
}
.box label:hover {
    color:#121212;
}
.box input[type=checkbox]:checked+label{
    color:#121212;
}