.box {
    margin-top: 16px;
	margin-bottom: 10px;
}
.box SVG{
    position: absolute;
    margin-left: -18px;
    margin-top: 3px;
}
.box input[type=checkbox] {
    position: relative;
    appearance: none;
    border: 1px solid #999999;
    margin-right: 8px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    vertical-align: top;
}
.box label {
    cursor:pointer;
    font-family: 'Roboto-Light';
    font-size: 14px;
    color:#999999;
    margin-right: 16px;
}
.box input[type=checkbox]:checked {
    border: 1px solid #0EC261;
    // background-image: url('../../../assets/images/Vector.png');
}
.box label:hover {
    color:#121212;
}
.box input[type=checkbox]:checked+label{
    color:#121212;
}