.lines{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.string{
    margin-top: 32px;
    font-family: 'Roboto-Bold';
    font-size: 14px;
}