.app-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-areas: 'start slider';
}
@media (max-width: 1440px){
  .app-wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 'start slider';
    }
}
@media (max-width: 1024px){
  .app-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'start';
    }
}