@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url(./files/fonts/roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url(./files/fonts/roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'), url(./files/fonts/roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(./files/fonts/roboto/Roboto-Regular.ttf) format('truetype');
}