
.visible{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.point{
  width: 100%;
  align-items: flex-end;
  margin-top: 30px;
  display:flex;
  overflow: auto;
  flex-direction:row;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Roboto-Light';
}
.dots{  
  border-bottom: 1px dotted #000;
  flex: 1;
}
.address{
  text-align:right;
  color: #999999;
}
.none_display{
  display: none;
}