.user_choise {
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: #EEEEEE 1px solid;
  padding-left: 4%;
  margin-right: 8%;
}
.header{
  width: 100%;
  font-size: 18px;
  font-family: 'Roboto-Medium';
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
.price{
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto-Regular';
  margin-top: 32px;
}
.price p{
  font-size: 18px;
  font-family: 'Roboto-Medium';
}
.none_display{
  display: none;
}
.for_mobile {
  margin-top: 60px;
  width: 100%;
}
@media (max-width: 1440px){
  .user_choise{
    padding-left: 32px;
  }
}

@media (max-width: 900px){
  .user_choise{
    max-height:100%;
    overflow-Y: auto;
    width: 100%;
  }
  .header{
    justify-content: flex-start;
  }
  .for_mobile {
    display:none;
  }
}