.hero {
    line-height: 0.3;
    margin-top: 25vh;
}
.carshering {
    color: #121212;
    margin-left: 4vh;
    font-size: 9vh;
    font-family: 'Roboto-Bold';
}
.need {
    color: #0EC261;
    margin-left: 4vh;
    font-size: 9vh;
    font-family: 'Roboto-Bold';
}
.arenda {
    color: #999999;
    margin-left: 4vh;
    font-size: 4vh;
    font-family: 'Roboto-Light';
}