.hero {
    line-height: 0.3;
    position:absolute;
    margin-top: 225px;
}
.carshering {
    color: #121212;
    font-size: 70px;
    font-family: 'Roboto-Bold';
    text-shadow: 0 3px 1px rgba(0,0,0,.3);
}
.need {
    color: #0EC261;
    font-size: 70px;
    font-family: 'Roboto-Bold';
}
.arenda {
    color: #999999;
    font-size: 26px;
    font-family: 'Roboto-Light';
}